{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<!-- <h1><span class="label label-info">Data ODP</span></h1> -->
<h4><span class="label label-info">Total ODP tersimpan: {{ lngth }}</span></h4>

<div class="container-fluid">
    <form class="form" role="form" action="" method="post" id="list_form">
       
        
        <div class="form-group">
          <div class="row">
            <!-- <label for="search"><span class="glyphicon glyphicon-search"></span></label> -->
            <table class="table table-hover" style="">
              <thead>
                <tr>
                  <th width="220"><input type="text" class="form-control" name="odptosearch" placeholder="Nama ODP"></th>
                  <th width="150"><input type="text" class="form-control" name="tgltosearch" placeholder="Tanggal Survei"></th>
                  <th width="150"><input type="text" class="form-control" name="tgluimtosearch" placeholder="Tanggal UIM"></th>
                  <!-- <th width="50"><input type="text" class="form-control" name="uimtosearch" placeholder="UIM" ></th> -->
                  
                  <th width="100">
                    <select class="form-control" form="list_form" name="uimtosearch" >
                      <option value="" selected>Status UIM</option>
                      <option>NOT OK</option>
                      <option>ON PROGRESS</option>
                      <option>OK</option>
                      <option>None</option>
               
                  </select>
                  </th>
                  <th width="100"><input type="text" class="form-control" name="occutosearch" placeholder="OCCU"></th>
                  <th width="240"><input type="text" class="form-control" name="eksekutortosearch" placeholder="Eksekutor"></th>
                </tr>
              </thead>
              </table>
            
           <input type="hidden" class="form-control" name="id_db" value="{{ id_db }}">
           <input type="hidden" class="form-control" name="tanggal_db" value="{{ tanggal_db }}">
           <input type="hidden" class="form-control" name="tanggaluim_db" value="{{ tanggaluim_db }}">
           <input type="hidden" class="form-control" name="uim_db" value="{{ uim_db }}">
           <input type="hidden" class="form-control" name="occu_db" value="{{ occu_db }}">
           <input type="hidden" class="form-control" name="eksekutor_db" value="{{ eksekutor_db }}">
           
            <button type="submit" class="btn btn-default btn-block" name="btn" value="searchodp"><strong>Search</strong></button>
            <h4><span class="label label-info">Total ODP ditemukan: {{ lngthsearch }}</span></h4>
            <button type="submit" class="btn btn-default btn-md pull-right" name="btn" value="extract"><strong>Extract</strong></button>
            
         </div>
    
            
                   
        
      <!-- <a class="btn btn-info" href="{{ url_for('data_odp_new') }}"><span class="glyphicon glyphicon-plus"></span></a> -->
          <table class="table table-hover" style="">
            <thead>
              <tr>
                <th width="20">No</th>
                <th width="400">Nama ODP</th>
                <th width="250">Tanggal Survai</th>
                <th width="250">Tanggal UIM</th>
                <th width="100">UIM</th>
                <th width="100">OCCU</th>
                <th width="350">Eksekutor</th>
            
              </tr>
            </thead>
            <tbody>
                    {% for odp in listodp %}
                        {% set pos = loop.index %}
                        {% include '_odp_to_uim.html' %}
                    {% endfor %}
            </tbody>
          </table>

          
            

    
         
       <br>
    </form>

</div>


<!-- Modal -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2\4 class="modal-title" id="deleteModalLabel">Konfirmasi</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="GET" action="">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"></label>
            <input type="hidden" class="form-control" id="recipient-name">
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <!-- <button type="button" class="btn btn-primary">Yes</button> -->
        <a class="btn btn-danger" id="deleteLink" href="" >Delete</a>
      </div>
    </div>
  </div>
</div>
        

{% endblock %}