{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
	<h1>Register</h1>
	<div class="row">
		<div class="col-md-4">
			<form class="form" role="form" enctype=multipart/form-data action="" method="post" id="register_form">
				<h4><label for="usr" class="label label-default">{{ form.username.label }}</label></h4>
		    	<input type="text" class="form-control" name="usr">
		    	<h4><label for="email" class="label label-default">{{ form.email.label }}</label></h4>
		    	<input type="text" class="form-control" name="email">
				<h4><label for="pwd" class="label label-default">{{ form.password.label }}</label></h4>
		    	<input type="password" class="form-control" name="pwd">
		    	<h4><label for="pwd2" class="label label-default">{{ form.password2.label }}</label></h4>
		    	<input type="password" class="form-control" name="pwd2">
		    	<h4><label for="acc_type" class="label label-default">{{ form.account_type.label }}</label></h4>
		    	<input type="text" class="form-control" name="acc_type">
		    	<br>
		    	<button type="submit" class="btn btn-default btn-block"><h4><strong>Save</strong></h4></button>
			</form>
		</div>
	</div>
{% endblock %}